@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    margin: 0;
}
.header-brand{
    color: teal;
    margin-top: 10rem;
    margin-left:42%;
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
}

a:hover{
    color: teal;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.navbar{
     margin-left: 35%;
}
.navbar ul{
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
}
.navbar li{
    list-style: none;

}
.navbar li a{
    text-decoration: none;
    
    padding: 1rem;
    display: block;
    color: rgb(7, 2, 26);
    font-family: 'Roboto Mono', monospace;
}
.navbar li a:hover{
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
    
}
.navbar-link li:hover{
    color:#fff ;
    background-color: rgb(9, 4, 58);
    border-radius: 10px;
}
.container{
         height: 5rem;
    /*background-color: olivedrab;*/
}

.about{
    display: flex;
    /*background-color: slategray;*/
}
.content-box{
    margin-top: 7%;
    margin-left: 7%;
}
.profile-img{
    margin-top: 2%;
    height: 20%;
}
.rounded-circle {
    border-radius: 8%!important;
    height: 12rem;
}
p {
    margin-top: -40px;
    margin-bottom: 1rem;
}
h1 {
    font-size: 2.5rem;
    margin-top: 19rem;
}
.row{
    display: flexbox;
    height: 31rem;
    /*background-color: rgb(150, 150, 150);*/
}
.squre-image{
    width: 32rem;
    height: 20rem;
    margin-top: 71px;
    margin-left: 131px;
}
.youtube-detail-box{
    width: 39rem;
    margin-top: 0%;
    margin-left: 0%;
}
.youtube-details{
        margin-top: 64px;
    margin-bottom: 1rem;
    margin-left: 81px;
}
.heading{
        height: 3rem;
    width: 15rem;
    margin-top: 84px;
    margin-left: 70px;
}

/********************************portfolio flex box******************************************/
.box{
    height: 20px;
    width: 20px;
    background-color: tomato;
}
/**************************portfolio***********************************/
/*----  Main Style  ----*/
#cards_landscape_wrap-2{
  text-align: center;
  background: #F7F7F7;
}
#cards_landscape_wrap-2 .container{
  padding-top: 80px; 
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}

/*******************footer******************************/
.footer{
  height: 7rem;
    background-color: #0094BC;
   margin-top: 371px;
}
/***************************Header brand animation*********************************/
